<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="home.css" />

</head>
<body>
<main>
<h1> Welcome to our Website ✋</h1>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/hello">Greeting</a></li>
    <li><a href="/capitalize/hello">Capital hello</a></li>
    <li><a href="/capitalize/this is Kinda Capitalized">capitalize</a></li>
    <li><a href="/albums">Albums</a></li>
</ul>
</main>
</body>
</html>